@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
    margin: auto;
    max-width: 320px;
}

body {
    margin: 0;
    font-family: "roboto";
}

header {
    text-align: center;
    font-family: "Shrikhand";
    box-shadow: 0px 2px 0px gray;
    padding: 25px;
    position: relative;
}

.localisation {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}